:root {
    --large-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#account-name {
    font-family: var(--large-font);
    color: white;
    font-weight: bold;
    font-size: 27px;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #16202b;
}

form {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 8px;
    margin: 32px auto;
    max-width: 600px;
    display: grid;
    gap: 8px;
    color: white;
    border: 1px solid #38444d;
}

form p {
    margin: auto;
    padding: 15px 0;
}

form h1,
form h2,
form h3 {
    margin: 0 0 15px;
    font-family: var(--large-font);
}

input {
    margin: 10px 0;
}

button {
    all: unset;
    font-family: var(--large-font);
    font-weight: bold;
    text-align: center;
    margin: auto;
    height: 50px;
    width: 170px;
    border-radius: 50px;
    background-color: #1d9cf0;
    cursor: pointer;
}

button:focus-visible,
button:hover {
    transition: 250ms;
    background-color: #1a8cd8;
}

.field {
    display: grid;
}

.dialog__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: grid;
    place-items: center;
}
.dialog {
    background-color: #1f344b;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24);
    color: white;
    min-width: 300px;
}
.dialog button {
    margin-left: auto;
    margin-right: 0;
    display: block;
}
.dialog p {
    opacity: 0.8;
}